*.iml
.gradle
/florysapp/local.properties
/florysapp/.idea/caches
/florysapp/.idea/libraries
/florysapp/.idea/modules.xml
/florysapp/.idea/workspace.xml
/florysapp/.idea/navEditor.xml
/florysapp/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
florysapp/local.properties
